@charset "ISO-8859-1";
/* CSS Document */

/* Simple scalable breadcrumb by Veerle Pieters
------------------------------------------------------------------*/
.breadcrumb{
	margin-bottom:10px;
	font:1em;
}
ul#crumbs, ul#crumbs>li {
	list-style-type:none ;
	padding:0 0 0 7px;
	margin:0;
	background: none;
	}		
#crumbs {
	height:2.3em;
	border:1px solid #dedede;
	}
#crumbs li {
	float:left;
	line-height:2.3em;
	color:#777;
	padding-left:.75em;
	}		
#crumbs li a {
	background:url(../images/crumbs.gif) no-repeat right center;
	display:block;
	padding:0 15px 0 0;
	}							
#crumbs li a:link,
#crumbs li a:visited {
	color:#777;
	text-decoration:none;
	}	
#crumbs li a:hover,
#crumbs li a:focus {
	color:#dd2c0d;
	}		